mixin footer()
	+b.FOOTER.footer
		.container
			+e.row.row
				.col-auto
					+e.logo(href="#")
						img(loading="lazy" src="img/svg/logo.svg" alt="")
				.col-12.col-md
					+e.row.mb-0.row.align-items-center
						.col-auto
							+e.link(href="tel:+79256373307") +7 925 637 33 07
						.col-auto
							+e.link(href="tel:+79256373307") sales@alphayachtgroup.com
						.col-auto
							+e.row-sm.row
								.col-auto
									+e.soc(href="#")
										+icon('fb')
								.col-auto
									+e.soc(href="#")
										+icon('instagram')
								.col-auto
									+e.soc(href="#")
										+icon('vk')
						.col-auto
							+e.link(href="#") EN
					+b.UL.navMenu
						+e.LI.item
							+e.link(href="#") яхты до 30 метров
						+e.LI.item
							+e.link(href="#") яхты более 30 метров
						+e.LI.item
							+e.link(href="#") чартер
						+e.LI.item
							+e.link(href="#") о нас
						+e.LI.item
							+e.link(href="#") новости

mixin footBar()
	+b.foot-bar
		.container.text-center Скорость меняет все