mixin modal()
	//  start modals
	+b.modal-win(id="modal-call" class=" " style="display: none" )
		+form-wrap
			.text-center
				+e.title.h3 Обратный звонок
				+e.descr Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течение 15&nbsp;минут
			+input("Ваше Имя")(required)
			+input("Ваш Телефон", 'tel')(required)
			+e.BUTTON.btn(type="submit") Отправить
			+polite()
	// #modal-call
	
	// end modals