:root {
	--animate-delay: 1.2s;

	--fontSizeBase: 13.5px;
	@include media-breakpoint-up(sm){
		--fontSizeBase: 14px;
	}
	@include media-breakpoint-up(md){
		--fontSizeBase: 14.5px;
	}
	@include media-breakpoint-up(lg){
		--fontSizeBase: 15px;
	}
	@include media-breakpoint-up(xl){
		--fontSizeBase: #{$em-base};
	}


	@include media-breakpoint-up(md) {
		--sPT: #{rem(60)};
		--sPB: #{rem(60)};
		--sTPB: #{rem(40)};
	}

	--sPT: #{rem(35)};
	--sPB: #{rem(35)};
	--sTPB: #{rem(30)};

	//header height
	--Headheight: 90px;
	@include media-breakpoint-up(sm){
		--Headheight: 120px;
	}
	@include media-breakpoint-up(md){
		--Headheight: 136px;
	}
	@include media-breakpoint-up(xl){
		--Headheight: 164px;
	}

		--swiperArrowSize: #{rem(68)};
		--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2);
		--swiperBorderColorDef: var(--bs-primary);
		--swiperColorDef: var(--bs-primary);
		--swiperBgDef: #ffffff;
	
		--swiperBorderColorDefHover: var(--bs-primary);
		--swiperColorDefHover: var(--bs-primary);
		--swiperBgDefHover: #ffffff;
}