.top-nav {
	padding: var(--topNavPad);

	--topNavPad: #{rem(20) 0};
	@include media-breakpoint-up(xl){
		--topNavPad: #{rem(40) 0 rem(20)};
	}

	//
	height: var(--Headheight);
	z-index: 800;
	background-color: #fff;
	border-bottom: 7px solid $danger;

	--logoInMnuDisplay: block;
	--burgerColor: #{$danger};
	--linkC: #{$gray-550};
	--linkCHover: #{$black};
	--logoStaticD: block;
	--logoFixedD: none;
	--menuMaxWidth: 1350px;
	--xlRowAlign: flex-end;

	&.fixed{
		width: 100%;
		height: auto;
		position: fixed;
		left: 0;
		top: 0;
		border-bottom: 0 solid $danger;
		background-color: $danger;

		--logoInMnuDisplay: none;
		--burgerColor: #{$white};
		--linkC: #{$white};
		--linkCHover: #{$white};
		--logoStaticD: none;
		--logoFixedD: block;
		--menuMaxWidth: 1050px;
		--xlRowAlign: center;

		--topNavPad: #{rem(10) 0};
		@include media-breakpoint-up(xl){
			--topNavPad: #{rem(10) 0};
		}
	}


	&__container{
		max-width: 100%!important;
	}
	&__row{
		@include roww(20px);
		//margin-bottom: -20px;
		//
		//& > *{
		//	margin-bottom: 20px;
		//}

		align-items: center;
		@include media-breakpoint-up(xl){
			align-items: var(--xlRowAlign);
		}
	}

	&__logo-xl-fixed{
		display: none;
		@include media-breakpoint-up(xl){
			display: var(--logoFixedD)!important;
		}
	}
	&__logo{
		display: var(--logoStaticD);
		&--fixed{
			display: var(--logoFixedD);
		}

		width: rem(200);
		@include media-breakpoint-up(sm){
			width: rem(300);
		}
		@include media-breakpoint-up(md){
			width: rem(326);
		}

		&--big{
			width: auto!important;
			max-width: 100%;
		}
		img{
			width: auto;
			height: auto;
			max-width: 100%;
		}
	}

	//menu
	.navMenu{
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		max-width: var(--menuMaxWidth);
		//1350px

		&__item{
			padding: 0;
			margin: 0 5px;

			&--logo{
				display: var(--logoInMnuDisplay);
			}
		}
		&__link{
			padding: 0;
			text-transform: uppercase;
			text-decoration: none;

			line-height: (19/16);
			@include media-breakpoint-up(xxl){
				letter-spacing: 0.13em;
			}

			color: var(--linkC);
			&:hover{
				color: var(--linkCHover);
				text-shadow: 0 0 1px rgba($black, .6);
			}
		}
	}

	//lang
	&__lang{

	}

}


